<li>
	{{name}}<br>

	<button class="change-eat" data-id="{{id}}" data-eat="{{eaten}}">
		{{#if eaten}}⭐⭐⭐⭐⭐{{else}}Add to bucket list!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
